/* Barra de navegação mobile */

#navbar .logo {
  float: none; 
  text-align: center;
}

#navbar ul, #navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

/* Conteudo principal da home */

#principal {
  height: 100%;
}

#principal .conteudo-principal {
  padding-top: 50px;
  padding-bottom: 30px
}

/* Informações na home*/
#home-info .info-img{
  height: 550px;
  display: none;
}

#home-info .info-conteudo {
  float: none;
  width: 100%;  
}

/* Localização, café, ...*/
.box {
  float: none;
  width: 100%;
}

/* Informações na página sobre */
#sobre-info .info-direita,
#sobre-info .info-esquerda {
  float: none;
  width: 100%;
}

#sobre-info .info-direita {
  margin-top: 30px;
}

.cabecalho-maior {  
  text-align: center;
}

/* Contato mobile */
#contato-info .box {
  border-bottom: #444 dotted 1px;
}

